:root {
  --background: #DAD2D8;
  --current-shape: #A8201A;
  --normal-shape: #143642;
  --used-shape: #0F8B8D;
  --highlight: #EC9A29;
}

h1, h2 {
  font-family: azo-sans-uber, sans-serif;
  font-weight: 400;
  font-size: 8em;
  font-style: normal;
  color: var(--highlight);
  text-align: center;
  margin-bottom: 0px;
}

h1 {
  font-size: 8em;
}

h2 {
  font-size: 3em;
  margin-top: 0px;
}

hr {
  border-top: 10px solid var(--highlight);
}

body {
  background-color: var(--background);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shape-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#admin {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#current {
  width: 50%;
}

.small-cell {
  width: 10px;
  height: 10px;
  border-radius: 1 px;
  padding: 1px;
  margin: 1px;
}

.large-cell {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
}

.occupied {
  border: 1px solid var(--normal-shape);
  background-color: var(--normal-shape);
}

.empty {
  border: 1px solid white;
}

.used {
  border: 1px solid var(--used-shape);
  background-color: var(--used-shape);
}

.active {
  border: 1px solid var(--current-shape);
  background-color: var(--current-shape);
}

.large-shape {
  margin: 20px;
  margin-top: 5%;
}

.small-shape {
  margin: 15px;
  width: 80px;
}


