:root {
  --dark-purple: #331832;
  --light-purple: #91448E;
  --dark-blue: #000055;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shape-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#admin {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#current {
  width: 50%;
}

.small-cell {
  width: 10px;
  height: 10px;
  border-radius: 1 px;
  padding: 1px;
  margin: 1px;
}

.large-cell {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
}

.occupied {
  border: 1px solid var(--dark-purple);
  background-color: var(--light-purple);
}

.empty {
  border: 1px solid white;
}

.large-shape {
  margin: 20px;
  margin-top: 10%;
}

.small-shape {
  margin: 20px;
  width: 80px;
}


