:root {
  --dark-purple: #331832;
  --light-purple: #91448E;
  --dark-blue: #000055;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 10px;
  height: 10px;
  border-radius: px;
  padding: 1px;
  margin: 1px;
}

.occupied {
  border: 1px solid var(--dark-purple);
  background-color: var(--light-purple);
}

.empty {
  border: 1px solid white;
}

.shape {
  margin: 20px;
}

